body{
    font-family: 'Bebas Neue';
    font-size: normal;
    box-sizing: border-box;
}

div {
    text-align: center;
    padding-bottom: 20px;

}


div#media > img {
    border-radius: 50%;
}

div#links {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    text-decoration: none;

}
